# Otto商品分类——对测试数据进行特征工程

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dpath = './data/'

test = pd.read_csv(dpath + 'Otto_test.csv')
test.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,0,11,1,20,0,0,0,0,0
1,2,2,2,14,16,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
2,3,0,1,12,1,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
4,5,1,0,0,1,0,0,1,2,0,...,0,0,0,0,0,0,0,9,0,0

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144368 entries, 0 to 144367
Data columns (total 94 columns):
id         144368 non-null int64
feat_1     144368 non-null int64
feat_2     144368 non-null int64
feat_3     144368 non-null int64
feat_4     144368 non-null int64
feat_5     144368 non-null int64
feat_6     144368 non-null int64
feat_7     144368 non-null int64
feat_8     144368 non-null int64
feat_9     144368 non-null int64
feat_10    144368 non-null int64
feat_11    144368 non-null int64
feat_12    144368 non-null int64
feat_13    144368 non-null int64
feat_14    144368 non-null int64
feat_15    144368 non-null int64
feat_16    144368 non-null int64
feat_17    144368 non-null int64
feat_18    144368 non-null int64
feat_19    144368 non-null int64
feat_20    144368 non-null int64
feat_21    144368 non-null int64
feat_22    144368 non-null int64
feat_23    144368 non-null int64
feat_24    144368 non-null int64
feat_25    144368 non-null int64
feat_26    144368 non-null int64
feat_27    144368 non-null int64
feat_28    144368 non-null int64
feat_29    144368 non-null int64
feat_30    144368 non-null int64
feat_31    144368 non-null int64
feat_32    144368 non-null int64
feat_33    144368 non-null int64
feat_34    144368 non-null int64
feat_35    144368 non-null int64
feat_36    144368 non-null int64
feat_37    144368 non-null int64
feat_38    144368 non-null int64
feat_39    144368 non-null int64
feat_40    144368 non-null int64
feat_41    144368 non-null int64
feat_42    144368 non-null int64
feat_43    144368 non-null int64
feat_44    144368 non-null int64
feat_45    144368 non-null int64
feat_46    144368 non-null int64
feat_47    144368 non-null int64
feat_48    144368 non-null int64
feat_49    144368 non-null int64
feat_50    144368 non-null int64
feat_51    144368 non-null int64
feat_52    144368 non-null int64
feat_53    144368 non-null int64
feat_54    144368 non-null int64
feat_55    144368 non-null int64
feat_56    144368 non-null int64
feat_57    144368 non-null int64
feat_58    144368 non-null int64
feat_59    144368 non-null int64
feat_60    144368 non-null int64
feat_61    144368 non-null int64
feat_62    144368 non-null int64
feat_63    144368 non-null int64
feat_64    144368 non-null int64
feat_65    144368 non-null int64
feat_66    144368 non-null int64
feat_67    144368 non-null int64
feat_68    144368 non-null int64
feat_69    144368 non-null int64
feat_70    144368 non-null int64
feat_71    144368 non-null int64
feat_72    144368 non-null int64
feat_73    144368 non-null int64
feat_74    144368 non-null int64
feat_75    144368 non-null int64
feat_76    144368 non-null int64
feat_77    144368 non-null int64
feat_78    144368 non-null int64
feat_79    144368 non-null int64
feat_80    144368 non-null int64
feat_81    144368 non-null int64
feat_82    144368 non-null int64
feat_83    144368 non-null int64
feat_84    144368 non-null int64
feat_85    144368 non-null int64
feat_86    144368 non-null int64
feat_87    144368 non-null int64
feat_88    144368 non-null int64
feat_89    144368 non-null int64
feat_90    144368 non-null int64
feat_91    144368 non-null int64
feat_92    144368 non-null int64
feat_93    144368 non-null int64
dtypes: int64(94)
memory usage: 103.5 MB

## 特征工程
测试数据的特征工程和训练数据一样 特征编码的模型由训练集得到，此次将模型装载进来就好

In [4]:
test_id = test['id']
X_test = test.drop(['id'], axis=1)
col_names_org = X_test.columns

In [5]:
# 1. feat编码：log(x+1)
X_test_log = np.log1p(X_test)

col_names_log = col_names_org + '_log'

X_test_log = pd.DataFrame(columns=col_names_log, data=X_test_log.values)
X_test_log.head()

,feat_1_log,feat_2_log,feat_3_log,feat_4_log,feat_5_log,feat_6_log,feat_7_log,feat_8_log,feat_9_log,feat_10_log,...,feat_84_log,feat_85_log,feat_86_log,feat_87_log,feat_88_log,feat_89_log,feat_90_log,feat_91_log,feat_92_log,feat_93_log
0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,1.386294,...,0.0,0.000000,2.484907,0.693147,3.044522,0.000000,0.0,0.000000,0.000000,0.000000
1,1.098612,1.098612,2.708050,2.833213,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,1.609438,0.0,0.000000,1.098612,0.000000
2,0.000000,0.693147,2.564949,0.693147,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,1.098612,0.000000,0.0,0.000000,0.000000,0.693147
3,0.000000,0.000000,0.000000,0.693147,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,1.386294,0.693147,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
4,0.693147,0.000000,0.000000,0.693147,0.0,0.0,0.693147,1.098612,0.0,1.386294,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,2.302585,0.000000,0.000000

In [7]:
# 2. feat编码：TF-IDF
import pickle

tfidf = pickle.load(open('tfidf.pkl', 'rb'))

X_test_tfidf = tfidf.transform(X_test).toarray()

col_names_tfidf = col_names_org + '_tfidf'

X_test_tfidf = pd.DataFrame(columns=col_names_tfidf, data=X_test_tfidf)
X_test_tfidf.head()

,feat_1_tfidf,feat_2_tfidf,feat_3_tfidf,feat_4_tfidf,feat_5_tfidf,feat_6_tfidf,feat_7_tfidf,feat_8_tfidf,feat_9_tfidf,feat_10_tfidf,...,feat_84_tfidf,feat_85_tfidf,feat_86_tfidf,feat_87_tfidf,feat_88_tfidf,feat_89_tfidf,feat_90_tfidf,feat_91_tfidf,feat_92_tfidf,feat_93_tfidf
0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.183240,...,0.0,0.000000,0.411895,0.052224,0.842245,0.000000,0.0,0.000000,0.000000,0.000000
1,0.067950,0.078094,0.443016,0.493584,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.122674,0.0,0.000000,0.061405,0.000000
2,0.000000,0.058829,0.572102,0.046477,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.078248,0.000000,0.0,0.000000,0.000000,0.069951
3,0.000000,0.000000,0.000000,0.044693,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,0.0,0.135951,0.033452,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
4,0.047877,0.000000,0.000000,0.043471,0.0,0.0,0.059028,0.079725,0.0,0.159226,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.548938,0.000000,0.000000

In [10]:
# 数据归一化
mms_org = pickle.load(open("MinMaxScaler_org.pkl", 'rb'))
mms_log = pickle.load(open('MinMaxScaler_log.pkl', 'rb'))
mms_tfidf = pickle.load(open('MinMaxScaler_tfidf.pkl', 'rb'))

feat_names_org = X_test.columns
feat_names_log = X_test_log.columns
feat_names_tfidf = X_test_tfidf.columns

X_test = mms_org.transform(X_test)
X_test_log = mms_log.transform(X_test_log)
X_test_tfidf = mms_tfidf.transform(X_test_tfidf)

In [11]:
test_org = pd.concat([test_id, pd.DataFrame(columns=feat_names_org, data=X_test)], axis=1)
test_org.to_csv(dpath + 'Otto_FE_test_org.csv', index=False, header=True)

test_log = pd.concat([test_id, pd.DataFrame(columns=feat_names_log, data=X_test_log)], axis=1)
test_log.to_csv(dpath + 'Otto_FE_test_log.csv', index=False, header=True)

test_tfidf = pd.concat([test_id, pd.DataFrame(columns=feat_names_tfidf, data=X_test_tfidf)], axis=1)
test_tfidf.to_csv(dpath + 'Otto_FE_test_tfidf.csv', index=False, header=True)