# Otto商品分类——Logistic 回归，测试

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dpath = './data/'

test1 = pd.read_csv(dpath + "Otto_FE_test_org.csv")
test2 = pd.read_csv(dpath + "Otto_FE_test_tfidf.csv")
test2 = test2.drop(["id"], axis=1)
test =  pd.concat([test1, test2], axis = 1, ignore_index=False)
test.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84_tfidf,feat_85_tfidf,feat_86_tfidf,feat_87_tfidf,feat_88_tfidf,feat_89_tfidf,feat_90_tfidf,feat_91_tfidf,feat_92_tfidf,feat_93_tfidf
0,1,0.000000,0.000000,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.421803,0.052224,0.842245,0.000000,0.0,0.000000,0.000000,0.000000
1,2,0.032787,0.039216,0.21875,0.228571,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.143963,0.0,0.000000,0.070171,0.000000
2,3,0.000000,0.019608,0.18750,0.014286,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.078248,0.000000,0.0,0.000000,0.000000,0.071995
3,4,0.000000,0.000000,0.00000,0.014286,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.139311,0.034257,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
4,5,0.016393,0.000000,0.00000,0.014286,0.0,0.0,0.026316,0.026316,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.556178,0.000000,0.000000

In [3]:
test_id = test['id']   
X_test = test.drop(["id"], axis=1)

feat_names = X_test.columns 

from scipy.sparse import csr_matrix

X_test = csr_matrix(X_test)

In [11]:
# load训练好的模型
import pickle

lr_best = pickle.load(open("Otto_L1_org_and_tfidf.pkl", 'rb'))

# 输出每类的概率
y_test_proba = lr_best.predict_proba(X_test)
y_test_proba.shape

(144368, 9)

In [15]:
y_test_proba

array([[9.20244261e-04, 3.31618575e-01, 3.28587646e-01, ...,
        1.50353494e-02, 2.22042304e-03, 4.87268667e-05],
       [3.54002209e-04, 8.77498667e-03, 6.37765661e-05, ...,
        2.19642949e-03, 4.69187217e-01, 1.30675169e-03],
       [4.31349732e-04, 1.98466841e-03, 1.19800158e-04, ...,
        5.89111769e-04, 8.28281476e-04, 2.22696145e-04],
       ...,
       [9.06545426e-09, 3.18302046e-01, 5.53540585e-01, ...,
        1.32583044e-02, 3.48900658e-06, 1.07379776e-05],
       [3.97142924e-04, 5.86920762e-01, 1.76509078e-01, ...,
        1.09822412e-03, 4.86935731e-04, 1.76948614e-04],
       [1.24733033e-03, 4.04691747e-01, 4.00151162e-01, ...,
        1.33455499e-01, 5.87874607e-05, 2.60890632e-04]])

In [12]:
y_test = lr_best.predict(X_test)
y_test.shape

(144368,)

In [16]:
y_test

array(['Class_2', 'Class_6', 'Class_6', ..., 'Class_3', 'Class_2',
       'Class_2'], dtype=object)

In [17]:
# 生成提交结果
out_df = pd.DataFrame(y_test_proba)

columns = np.empty(9, dtype=object)
for i in range(9):
    columns[i] = 'Class_' + str(i+1)

out_df.columns = columns
out_df.head()

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,0.000920,0.331619,0.328588,3.191002e-01,2.904072e-15,0.002469,0.015035,0.002220,0.000049
1,0.000354,0.008775,0.000064,2.223678e-05,4.563299e-05,0.518049,0.002196,0.469187,0.001307
2,0.000431,0.001985,0.000120,6.051542e-08,2.487773e-05,0.995799,0.000589,0.000828,0.000223
3,0.000295,0.671287,0.278379,4.320010e-02,4.810369e-05,0.000120,0.000073,0.000201,0.006396
4,0.353425,0.002122,0.000651,4.025168e-05,1.548754e-07,0.012612,0.016896,0.163334,0.450919

In [18]:
out_df = pd.concat([test_id, out_df], axis=1)
out_df.to_csv(dpath + "LR_org_and_tfidf.csv", index=False)

原始特征和tfidf两种特征编码串联在一起：在Kaggle的Private Leaderboard分数0.59817（排名第2243位）